<footer class="p-4 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-between">
            <a class="fw-bold h3 text-decoration-none text-danger">
              <span>Last </span>
              <span class="text-info">Time </span>
              <span class="text-light">I...</span>
            </a>
            <p class="text-light">© 2023 Zack Kelly. All rights reserved.</p>
        </div>
        <div class="col-lg-6 col-md-12 text-lg-end">
          <h5 class="text-light">Navigation</h5>
            <nav class="navbar navbar-dark">
                <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item">
                        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="fw-bold nav-link py-1">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/tasks" routerLinkActive="active" class="fw-bold nav-link py-1">TASKS</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/how-to" routerLinkActive="active" class="fw-bold nav-link py-1">HOW TO</a>
                    </li>
                </ul>
            </nav>
        </div>
      </div>
    </div>
  </footer>
  